@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;

0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Fira Sans", sans-serif;
  line-height: 1.5;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #313131;
  scroll-behavior: smooth;
  z-index: 1;
  background: #ffffff;
}

body.active {
  overflow: hidden;
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:focus,
:active {
  outline: none;
}

a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  font-weight: inherit;
  font-size: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.nav {
  max-width: 226px;
  min-width: 226px;
  width: 100%;
  padding: 0 36px 122px 0;
}

.nav a {
  text-decoration: none;
  color: #A4A8A9;
}

.nav > div {
  height: 100%;
}

.nav__img {
  padding: 24px 0 0 24px;
}

.nav__account-title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: #565656;
  margin-left: 25px;
  margin-top: 63px;
  margin-bottom: 26px;
}

.nav__icon:first-child {
  padding: 0 0 15px 32px;
}

.nav__icon {
  padding: 15px 0 15px 32px;
  left: 32px;
  gap: 12px;
}

.nav__icon p {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #A4A8A9;
}

.nav__icon.active {
  background: #3A9160;
  border-radius: 0px 30px 30px 0px;
}

.nav__icon.active p {
  color: #ffffff;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
}

.nav__selleraccount-title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: #565656;
  margin-left: 25px;
  margin-top: 31px;
  margin-bottom: 26px;
}

.nav__logout {
  margin-left: 32px;
  color: #FF5C5C;
}

.nav__logout > a {
  color: #FF5C5C;
  gap: 12px;
}

.nav__logout > a p {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}

.main {
  background: #FAFAFA;
  max-width: 1214px;
  min-width: 1214px;
  width: 100%;
  padding: 24px 24px 77px 24px;
}

.main__head-text > p {
  color: #565656;
  text-transform: uppercase;
  font-size: 22px;
  font-weight: bold;
  line-height: 24px;
  margin-bottom: 20px;
}

.main__head-items {
  gap: 20px;
  margin-bottom: 16px;
}

.main__head-icons {
  gap: 20px;
}

.main__head-icons img {
  cursor: pointer;
}

.main__head-icons button {
  background: none;
  position: relative;
  border: none;
}

.main__head-icons button span {
  position: absolute;
  background: #FF5C5C;
  min-width: 22px;
  height: 22px;
  border-radius: 15px;
  padding: 3px 7px;
  color: white;
  top: 0;
  left: 63%;
}

.main__head-icon {
  padding: 12px;
  border: 1px solid rgba(164, 168, 170, 0.2);
  border-radius: 50%;
}

.main__head-avatar {
  gap: 18px;
  background: #FFFFFF;
  border-radius: 50px;
  padding: 8px 17px 9px 10px;
}

.main__head-avatar > img {
  margin-right: 8px;
}

.main__head-person {
  gap: 8px;
}

.main__head-person-name {
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: #333333;
}

.main__head-person-profession {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #333333;
}

.main__frends {
  background: #ffffff;
  max-width: 282px;
  width: 100%;
  padding: 18px 0px 0px 0px;
  border-right: 1px solid #E5E5E5;
  -webkit-box-shadow: 1px 0px 0px rgba(108, 102, 102, 0.08);
          box-shadow: 1px 0px 0px rgba(108, 102, 102, 0.08);
}

.main__inbox-head {
  padding: 0 12px 16px 12px;
  border-bottom: 1px solid #E5E5E5;
}

.main__inbox-head p {
  color: #565656;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
}

.main__inbox-head select {
  border: 1px solid rgba(164, 168, 169, 0.2);
  border-radius: 5px;
  font-weight: 400;
  font-size: 14px;
  min-width: 56px;
  line-height: 24px;
  color: #A4A8A9;
  cursor: pointer;
  -webkit-appearance: none;
  background: url(../../img/arrow-down.png) no-repeat;
  background-position: right 9px top 40%;
  padding: 2px 25px 3px 10px;
}

.main__iconjp {
  background-image: url(../img/iconjpbig.png);
  background-repeat: no-repeat;
  width: 56px;
  height: 56px;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  color: #FFFFFF;
}

.main__companion {
  padding: 16px 12px;
  cursor: pointer;
}

.main__companion-name {
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  color: #333333;
}

.main__companion-sms {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #333333;
  margin-top: 4px;
  max-width: 137px;
}

.main__companion-time {
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
  color: #33333380;
}

.main__companion-read {
  color: #33333380;
}

.main__companion:not(:nth-child(1)):not(:nth-child(2)):not(:nth-child(9)) {
  border-bottom: 1px solid #E5E5E5;
}

.main__companion:nth-child(2) {
  background: rgba(58, 145, 96, 0.1);
  border-radius: 10px 0px 0px 10px;
}

.main__chat {
  background: #ffffff;
  max-width: 884px;
  width: 100%;
  padding: 11px 0px 24px 0px;
}

.main__chat > * {
  padding: 0 23px 0 17px;
}

.main__chat-head {
  border-bottom: 1px solid #E5E5E5;
  padding-bottom: 8px;
}

.main__chat-name > span {
  margin-left: 13px;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  color: #333333;
}

.main__chat-search {
  cursor: pointer;
}

.main__sms-first {
  gap: 8px;
  padding: 31px 0 25px 0;
}

.main__sms-first span {
  font-weight: 400;
  margin-left: 4px;
  font-size: 12px;
  line-height: 24px;
  color: #33333380;
}

.main__sms-first p {
  background: #3A91601A;
  padding: 12px 14px 11px 15px;
  max-width: 515px;
  width: 100%;
  border-radius: 0px 20px 20px 20px;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #333333;
}

.main__sms-second span {
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
  color: #33333380;
}

.main__sms-second p {
  background: #C0D72F1A;
  padding: 13px 14px 14px 15px;
  max-width: 515px;
  width: 100%;
  border-radius: 20px 0px 20px 20px;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #333333;
}

.main__sms-second-text {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap-reverse;
          flex-flow: column wrap-reverse;
}

.main__sms-second-img {
  margin-top: 8px;
}

.main__sms-third {
  gap: 8px;
  padding: 9px 0 54px 0;
}

.main__sms-third span {
  font-weight: 400;
  margin-left: 4px;
  font-size: 12px;
  line-height: 24px;
  color: #33333380;
}

.main__sms-third p {
  background: #3A91601A;
  padding: 12px 14px 11px 15px;
  max-width: 515px;
  width: 100%;
  border-radius: 0px 20px 20px 20px;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #333333;
}

.main__sms-input {
  background: #EBEBEB91;
  border-radius: 50px;
  padding: 17px 0 17px 15px;
  gap: 12px;
  max-width: 623px;
  width: 100%;
  margin-left: 47px;
}

.main__sms-input input {
  background: transparent;
}

.main__sms-input input::-webkit-input-placeholder {
  color: #33333380;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}

.main__sms-input input::-moz-placeholder {
  color: #33333380;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}

.main__sms-input input:-ms-input-placeholder {
  color: #33333380;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}

.main__sms-input input::-ms-input-placeholder {
  color: #33333380;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}

.main__sms-input input::placeholder {
  color: #33333380;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}

.main__sms-icon {
  gap: 16px;
}

.main__sms-icon a {
  border-radius: 50px;
  background: #EBEBEB91;
  width: 71px;
  height: 66px;
}

.main__sms-in {
  gap: 16px;
}

.sections {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.webp .main__inbox-head select{ background: url(../../img/arrow-down.webp) no-repeat; }

.webp .main__iconjp{ background-image: url(../img/iconjpbig.webp); }